.project-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* border: solid 1px #6FF958; */
    /* still unsure about border/color tbh */
    margin-top: 20px;
    margin-bottom: 10px;
    height: 22.3125vw;
    object-fit: cover;
    object-position: 50% top;
}

.project-skills {
    color: white;
}

@media (max-width: 600px) {
    .project-image {
        height: 45vw;
    }
}