.project-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0px 20px 0px 20px;
    margin: 16px;
    max-width: 100%;
    transition: transform 0.2s;
    background-color: #fff;

}

.project-card:hover {
    transform: translateY(-5px);
}

.project-name {
    font-size: 1.5em;
    margin-bottom: 8px;
    color: #333;
}

.image-container {
    display: flex;
    justify-content: center;
}

.project-image {
    width: 50%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-skills {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 8px;
}

.project-description {
    font-size: 1em;
    color: #444;
}