body {
  margin: 2rem;
  font-family: 'JetBrains Mono', sans-serif;
  background-color: black;
  color: #6FF958;
}

a {
  color: #6FF958;
}

.clock-title {
  display: flex;
}

/* Media query for mobile screens */
@media (max-width: 600px) {
  .clock-title {
    flex-direction: column;
  }

  .app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
