body {
  margin: 1rem;
  font-family: 'JetBrains Mono', sans-serif;
  background-color: black;
}

h1, p, nav, a {
  color: #6FF958;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
