/* orange #FC931A */
/* blue #42cafd */
/* purple #b084cc */
/* green #6FF958 */

body {
  margin: 2rem;
  font-family: 'JetBrains Mono', sans-serif;
  background-color: black;
  color: #6FF958;
}

a {
  color: #6FF958;
}

.about-body,
.learn-more {
  color: white;
}

.home-contents {
  /* words in the homepage */
  padding-right: 10px;
}

.clock-title {
  display: flex;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0px, 0px, 1px, 0px;
  padding: 0px;
}

.nav-links li a {
  text-decoration: none;
}

.nav-links .active {
  /* highlight active tab as white */
  color: white;
}

.projects-container {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-column-gap: 10%;
  grid-row-gap: 15px;
}

/* media query for mobile screens */
@media (max-width: 600px) {
  .clock-title {
    /* container w/ the clock and title of the homepage (navbar not included) */
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .app-container {
    display: flex;
    flex-direction: column;
  }

  .nav-links {
    gap: 0;
    /* resets gap set for desktop version, so that it can be spaced correctly */
    justify-content: space-between;
  }

  .projects-container {
    grid-template-columns: 100%;
  }
}